<!-- 所有输入页面的模板。-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="${_response_encoding}">
    <meta name="keywords" content="WebDesktop,webOS,web,desktop,web桌面"/>
    <meta http-equiv="x-ua-compatible" content="ie=7"/>

    <title>Web桌面 - WebDesktop技术交流分享，集成平台供应, 技术支持</title>

    <link rel="stylesheet" media="screen" href="@{'/public/common/css/style.css'}">
    <script src="@{'/public/common/js/jquery-1.8.3.min.js'}" type="text/javascript"></script>
    <style>body {
        padding: 0;
    }</style>
#{get 'moreStyles' /}
</head>

<body>
<div id="pagebody">

    <div class="workcontainer">
	#{doLayout /}
    </div>
</div>

<script src="@{'/public/common/js/jquery.validate.js'}" type="text/javascript"></script>
<script src="@{'/public/common/js/base.js'}" type="text/javascript"></script>
<script src="@{'/public/common/js/jquery.metadata.js'}" type="text/javascript"></script>
<script src="@{'/public/common/js/layer/layer.min.js'}" type="text/javascript"></script>
#{get 'moreScripts' /}
<script>
    $(document).ready(function () {
        $("#btn_submit").bind("click", function (event) {
            //验证通过,就提交表单
            //注意提交表单的按钮的id是btn_submit,表单form的id是f1
            if ($("#f1").valid()) {
                $("#f1").submit();
            } else {
                Progress.hide();
                //提交按钮变为可用
                $("#btn_submit").removeAttr("disabled");
            }
        });

    });
</script>

</body>
</html>
