<head>
    <link rel="stylesheet" type="text/css" href="@{'/public/common/css/common.css'}">
    <link href="@{'/public/desktop/img/16sucai.css'}" rel="stylesheet" type="text/css"/>
    <script src="@{'/public/common/js/jquery-1.8.3.min.js'}" language="javascript"></script>
    <style type="text/css">
        <!--
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }

        -->
    </style>
</head>
<body>
<div id="con_one_1" class="hover">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="41%" height="64" rowspan="9" align="center" valign="middle">
                <div class="picbg">
                    <div class="picbg2"></div>
                </div>
            </td>
            <td width="55%" height="15" align="left" valign="middle">&nbsp;</td>
            <td width="4%" rowspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td height="23" align="left" valign="middle" style="border-bottom:1px dotted #999;">
                <div class="gouri01">姓名：</div>
                <div class="gouri02">游客</div>
            </td>
        </tr>
        <tr>
            <td height="23" align="left" style="border-bottom:1px dotted #999;">
                <div class="gouri01">姓别：</div>
                <div class="gouri02"></div>
            </td>
        </tr>
        <tr>
            <td height="23" align="left" style="border-bottom:1px dotted #999;">
                <div class="gouri01">工号：</div>
                <div class="gouri02"></div>
            </td>
        </tr>
        <tr>
            <td height="23" style="border-bottom:1px dotted #999;">
                <div class="gouri01">职位：</div>
                <div class="gouri02"></div>
            </td>
        </tr>
        <tr>
            <td height="23" style="border-bottom:1px dotted #999;">
                <div class="gouri01">办公电话：</div>
                <div class="gouri02"></div>
            </td>
        </tr>
        <tr>
            <td height="23" style="border-bottom:1px dotted #999;">
                <div class="gouri01">手机：</div>
                <div class="gouri02"></div>
            </td>
        </tr>
        <tr>
            <td height="23" style="border-bottom:1px dotted #999;">
                <div class="gouri01">传真：</div>
                <div class="gouri02"></div>
            </td>
        </tr>
        <tr>
            <td height="23">
                <div class="gouri01">邮箱：</div>
                <div class="gouri02"></div>
            </td>
        </tr>
        <tr>
            <td height="30">&nbsp;</td>
        </tr>
    </table>
</div>
</body>