<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="WebDesktop,webOS,web,desktop,web桌面"/>
    <title>Web桌面 - WebDesktop技术交流分享，集成平台供应,技术支持</title>
    <link rel="stylesheet" media="screen" href="@{'/public/common/css/style.css'}">
    <script src="@{'/public/common/js/jquery-1.8.3.min.js'}" type="text/javascript"></script>
    <script src="@{'/public/common/js/base.js'}" type="text/javascript"></script>
    <style>
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        ul li {
            float: left;
            width: 150px;
            text-align: center;
            margin: 20px;
        }

        ul li div {
            padding: 5px;
            cursor: pointer;
        }
    </style>
    <script>
        function changebg(number) {
            Progress.show();
            var url = "${play.ctxPath}" + "/userdesktop/setTheme?themeId=" + number;
            $.ajax({
                type: "post",
                url: url,
                data: {},
                success: function (rtn) {
                    var css = top.document.getElementById("theme_css");
                    css.setAttribute("href", "${play.ctxPath}/public/desktop/css/themes/theme_css_" + number + ".css");
                    Progress.hide();
                },
                error: function (rtn) {
                    Progress.hide();
                    alert("换肤不成功,请稍后再试");
                }
            });

        }
    </script>
</head>

<body>

<ul>
    <li onclick="changebg(2)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_2.jpg'}"></div>
        <div>平静海洋</div>
    </li>
    <li onclick="changebg(3)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_3.jpg'}"></div>
        <div>青葱岁月</div>
    </li>
    <li onclick="changebg(4)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_4.jpg'}"></div>
        <div>清爽沙滩</div>
    </li>
    <li onclick="changebg(5)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_5.jpg'}"></div>
        <div>丰收季节</div>
    </li>
    <li onclick="changebg(6)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_6.jpg'}"></div>
        <div>碧海蓝天</div>
    </li>
    <li onclick="changebg(7)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_7.jpg'}"></div>
        <div>淡雅植物</div>
    </li>
    <li onclick="changebg(8)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_8.jpg'}"></div>
        <div>夕阳晚霞</div>
    </li>

    <li onclick="changebg(9)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_9.jpg'}"></div>
        <div>绿色抽象</div>
    </li>
    <li onclick="changebg(10)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_10.jpg'}"></div>
        <div>暖色抽象</div>
    </li>
    <li onclick="changebg(11)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_11.jpg'}"></div>
        <div>浩瀚宇宙</div>
    </li>
    <li onclick="changebg(12)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_12.jpg'}"></div>
        <div>静怡空间</div>
    </li>
    <li onclick="changebg(13)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_13.jpg'}"></div>
        <div>宁静湖面</div>
    </li>
    <li onclick="changebg(14)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_14.jpg'}"></div>
        <div>蓝天白云</div>
    </li>
    <li onclick="changebg(15)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_15.jpg'}"></div>
        <div>湖光水色</div>
    </li>
    <li onclick="changebg(16)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_16.jpg'}"></div>
        <div>黑板回忆</div>
    </li>
    <li onclick="changebg(17)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_17.jpg'}"></div>
        <div>水滴涟漪</div>
    </li>
    <li onclick="changebg(18)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_18.jpg'}"></div>
        <div>蒲公英飘</div>
    </li>
    <li onclick="changebg(19)">
        <div><img src="@{'public/desktop/css/themes/images/bg/theme_bg_small_19.jpg'}"></div>
        <div>红花绿叶</div>
    </li>
</ul>

</body>
</html>
