<!DOCTYPE html>
<html class=" javascriptEnabled win6_1 chrome chrome14_0 webkit webkit535_1 flash flash11_0"
      style="overflow-x: hidden; overflow-y: hidden; ">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="${_response_encoding}">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="keywords" content="WebDesktop,webOS,web,desktop,web桌面"/>
    <meta http-equiv="x-ua-compatible" content="ie=7"/>

    <title>Web桌面 - WebDesktop技术交流分享，集成平台供应,技术支持</title>

    <link rel="stylesheet" media="screen" href="@{'/public/common/css/style.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/desktop/css/base/desktop.css'}">
#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/common/js/jquery-1.6.1.min.js'}" type="text/javascript"></script>
    <script src="@{'/public/common/js/jquery-ui.min.js'}" type="text/javascript"></script>
    <script src="@{'/public/common/js/base.js'}" type="text/javascript"></script>

    <!--[if IE 6]>
	<script type="text/javascript" src="@{'/public/desktop/js/DD_belatedPNG_0.0.8a.js'}"></script>
	<script type="text/javascript">
		var pngclasses = [];
		pngclasses[pngclasses.length] = "#pagetabbar .leftbg";
		pngclasses[pngclasses.length] = "#pagetabs";
		pngclasses[pngclasses.length] = "#pagetabbar .rightbg";
		pngclasses[pngclasses.length] = "#pagetabbar #pagetabs a";
		pngclasses[pngclasses.length] = "#pagetabbar .person";
		pngclasses[pngclasses.length] = "#pagetabbar .theme";
		pngclasses[pngclasses.length] = ".menu .menu_icon";
		pngclasses[pngclasses.length] = ".menu .menu_title .leftbg";
		pngclasses[pngclasses.length] = ".menu .menu_title .rightbg";
		pngclasses[pngclasses.length] = ".menu .menu_title .titlename";
		pngclasses[pngclasses.length] = ".menu:hover";

		pngclasses[pngclasses.length] = "#taskbar";
		pngclasses[pngclasses.length] = "#taskbar li";

		pngclasses[pngclasses.length] = ".win .wintitle";
		pngclasses[pngclasses.length] = ".win span";
		pngclasses[pngclasses.length] = ".win .winbottom";
		pngclasses[pngclasses.length] = "#logo";
		pngclasses[pngclasses.length] = "#funcbar";
		pngclasses[pngclasses.length] = "#funcbar #changeStation";
		pngclasses[pngclasses.length] = "#funcbar #works";
		pngclasses[pngclasses.length] = "#funcbar #messages";
		pngclasses[pngclasses.length] = "#funcbar #messages.has";
		pngclasses[pngclasses.length] = "#funcbar #logout";

		pngclasses[pngclasses.length] = "#pagetop";
		pngclasses[pngclasses.length] = "#pagetop #banner";
		pngclasses[pngclasses.length] = "#pagetop .workDiv";
		pngclasses[pngclasses.length] = "#pagetop .workDiv span";

		pngclasses[pngclasses.length] = "#rightbar,#rightbar .item,#rightbar .item span";

		DD_belatedPNG.fix(pngclasses.join(","));
	</script>
    <![endif]-->

#{get 'moreScripts' /}
</head>
<body>
#{doLayout /}
</body>
</html>
