#{extends 'template/template_view.html' /}
<div class="worktitle">
    <div class="nav">
        <span>添加模块</span>
    </div>
</div>
<div class="workinfo">
#{form @management.ModuleManager.create(), method:'POST', id:'f1', enctype :'multipart/form-data'}
    <fieldset>
        <table>
            <tr>
                <td class="right title"><label class="title" for="name"><i> *</i>名称：</label></td>
                <td>
                    <input type="text" name="module.name" title="请输入名称" cssClass="required txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="code"><i> *</i>编码：</label></td>
                <td>
                    <input type="text" name="module.code" title="请输入编码" cssClass="required txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="icon"><i> *</i>图标：</label></td>
                <td>
                    <input type="file" name="icon">
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="url"><i> *</i>url：</label></td>
                <td>
                    <input type="text" name="module.url" title="请输入url" cssStyle="width: 300px;"
                           cssClass="required txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="width"><i> *</i>默认宽度：</label></td>
                <td>
                    <input type="text" name="module.width" value="800" title="请输入默认宽度" cssClass="required txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="height"><i> *</i>默认高度：</label></td>
                <td>
                    <input type="text" name="module.height" value="600" title="请输入默认高度" cssClass="required txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="maxWidth">最大高度：</label></td>
                <td>
                    <input type="text" name="module.maxWidth" cssClass="txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="maxHeight">最大高度：</label></td>
                <td>
                    <input type="text" name="module.maxHeight" cssClass="txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="minWidth">最小宽度：</label></td>
                <td>
                    <input type="text" name="module.minWidth" cssClass="txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="minHeight">最小高度：</label></td>
                <td>
                    <input type="text" name="module.minHeight" cssClass="txt"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="draggable">是否允许拖动：</label></td>
                <td>
                    <input type="radio" name="module.draggable" value="1" checked="checked">是
                    <input type="radio" name="module.draggable" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="resizable">是否允许调整大小：</label></td>
                <td>
                    <input type="radio" name="module.resizable" value="1" checked="checked">是
                    <input type="radio" name="module.resizable" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="minimize">是否最小化：</label></td>
                <td>
                    <input type="radio" name="module.minimize" value="1" checked="checked">是
                    <input type="radio" name="module.minimize" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="maximize">是否最大化：</label></td>
                <td>
                    <input type="radio" name="module.maximize" value="1" checked="checked">是
                    <input type="radio" name="module.maximize" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="align">水平对齐方式：</label></td>
                <td>
                    <select name="module.align">
                        <option value="center" selected>center</option>
                        <option value="char">char</option>
                        <option value="justify">justify</option>
                        <option value="left">left</option>
                        <option value="right">right</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="valign">垂直对齐方式：</label></td>
                <td>
                    <select name="module.valign">
                        <option value="baseline" selected>baseline</option>
                        <option value="bottom">bottom</option>
                        <option value="middle">middle</option>
                        <option value="top">top</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="show">是否显示：</label></td>
                <td>
                    <input type="radio" name="module.isShow" value="1" checked="checked">是
                    <input type="radio" name="module.isShow" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="remark">备注：</label></td>
                <td>
                    <textarea name="module.remark" class="txtarea">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" aling="right">
                    <button id="submit" type="submit" class="savebutton">
                        保存
                    </button>
                    <button type="button" class="backbutton" onclick="javascript:history.back(-1);">
                        返回
                    </button>
                </td>
            </tr>
        </table>
    </fieldset>
#{/form}
</div>