#{extends 'template/template_input.html' /}

<div class="worktitle">
    <div class="nav">
        <span>添加模块</span>
    </div>
</div>
<div class="workinfo">
#{form @management.ModuleManager.create(), method:'POST', id:'f1', enctype :'multipart/form-data'}
    <fieldset>
        <table>
            <tr>
                <td class="right title"><label class="title" for="name"><i> *</i>名称：</label></td>
                <td>
                    <input type="text" name="module.name" title="请输入名称" class="required"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="code"><i> *</i>编码：</label></td>
                <td>
                    <input type="text" name="module.code" title="请输入编码" class="required"/><span style="color: red">(注意：编码表示该应用的字母简写，可以是拼音的，也可以是英文)</span>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="icon"><i> *</i>图标：</label></td>
                <td>
                    <input type="file" name="icon" title="请上传图标" class="required"><span style="color: red">(注意：建议上传98 * 72像素的png图片)</span>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="url"><i> *</i>url：</label></td>
                <td>
                    <input type="text" name="module.url" title="请输入url"
                           class="required"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="width"><i> *</i>默认宽度：</label></td>
                <td>
                    <input type="text" name="module.width" value="800" title="请输入宽度" class="required"/>
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="height"><i> *</i>默认高度：</label></td>
                <td>
                    <input type="text" name="module.height" value="600" title="请输入高度" class="required"/>
                </td>
            </tr>

            <tr>
                <td class="right title"><label class="title" for="draggable">是否允许拖动：</label></td>
                <td>
                    <input type="radio" name="module.draggable" value="1" checked="checked">是
                    <input type="radio" name="module.draggable" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="resizable">是否允许调整大小：</label></td>
                <td>
                    <input type="radio" name="module.resizable" value="1" checked="checked">是
                    <input type="radio" name="module.resizable" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="minimize">是否最小化：</label></td>
                <td>
                    <input type="radio" name="module.minimize" value="1" checked="checked">是
                    <input type="radio" name="module.minimize" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="maximize">是否最大化：</label></td>
                <td>
                    <input type="radio" name="module.maximize" value="1" checked="checked">是
                    <input type="radio" name="module.maximize" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="show">是否显示：</label></td>
                <td>
                    <input type="radio" name="module.isShow" value="1" checked="checked">是
                    <input type="radio" name="module.isShow" value="0">否
                </td>
            </tr>
            <tr>
                <td class="right title"><label class="title" for="remark">备注：</label></td>
                <td>
                    <textarea name="module.remark" class="txtarea">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" aling="right">
                    <button id="btn_submit" type="button" class="savebutton showprogress">
	                保存
                    </button>
                    <button type="button" class="backbutton" onclick="javascript:history.back(-1);">
                        返回
                    </button>
                </td>
            </tr>
        </table>
    </fieldset>
#{/form}
</div>
